name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/node-pnpm-setup

      - name: Run linting
        run: pnpm lint

  unit-test:
    runs-on: ubuntu-latest

    needs: lint

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/node-pnpm-setup

      - name: Set timezone to Asia/Jakarta
        run: sudo timedatectl set-timezone Asia/Jakarta

      - name: Run prisma generate
        run: pnpm prisma generate

      - name: Run unit testing
        run: pnpm test

  integration-test:
    runs-on: ubuntu-latest

    needs: lint

    env:
      DATABASE_URL: 'postgresql://postgres:postgres@localhost:5432/chatloid?schema=public'
      MONGODB_URL: 'mongodb://mongo:mongo@localhost:27017'
      SECRET_KEY: test

    steps:
      - uses: actions/checkout@v6

      - name: Run docker compose
        run: docker compose up -d

      - uses: ./.github/actions/node-pnpm-setup

      - name: Set timezone to Asia/Jakarta
        run: sudo timedatectl set-timezone Asia/Jakarta

      - name: Run prisma generate
        run: pnpm prisma generate

      - name: Run migration
        run: pnpm migrate

      - name: Run integration testing
        run: pnpm test:e2e

  docker-image:
    runs-on: ubuntu-latest

    needs:
      - unit-test
      - integration-test

    if: ${{ needs.unit-test.result == 'success' && needs.integration-test.result == 'success' }}

    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag iqmalakur/chatloid-api:latest

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push the Docker image to Docker Hub
        run: docker push iqmalakur/chatloid-api:latest
